/* E4E4DE
C4C5BA
1B1B1B
595f39 */

input {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0.4rem;
  color: transparent;
  text-shadow: 0 0 0 #1B1B1B;
  border-radius: 0.5rem;
  background-color: #E4E4DE;
  transition: 0.1s ease-out;
  cursor: default;
}
&:focus {
  outline: none;
}
&::selection {
  background-color: transparent;
}

input::selection {
  background-color: #E4E4DE;
}

input:focus,
input:hover:focus {
  outline: none;
  box-shadow: 0 9px 0px -6px #1B1B1B;
}

input:hover {
  box-shadow: 0 10px 0 -8px rgba(0, 0, 0, 0.3);
  
}

input:disabled {
  background-color: #C4C5BA;
}
