input {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0.4rem;
  color: transparent;
  text-shadow: 0 0 0  #333;
  border-radius: 0.5rem;
  background-color: burlywood;
} &:focus{
  outline: none;
} &::selection{
  background-color: transparent;
}

input::selection {
  background: burlywood;
}


input:focus {
  outline: none;
  box-shadow: 0 0 1px 2px peru;
}
