input {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0.4rem;
  color: transparent;
  text-shadow: 0 0 0  #222831;
  border-radius: 0.5rem;
  background-color: #76ABAE;
  transition: .1s ease-out;
} &:focus{
  outline: none;
} &::selection{
  background-color: transparent;
}

input::selection {
  background-color: #aaa;
  }


input:focus {
  outline: none;
  box-shadow: 0 10px 0 -6px #222831;
}

input:disabled{
  background-color: #96CBCE;
  
}